.bg-primary {
  background: #e21e32 !important;
  color: white !important;
}

.btn-primary {
  background: #e21e32 !important;
  color: white !important;
}

.btn-info {
  background: rgba($color: #e21e32, $alpha: 0.7) !important;
  border-color: transparent;
  color: white !important;
}

.bg-info {
  background: #e21e32 !important;
  color: white !important;
}

.card-info:not(.card-outline) > .card-header {
  background-color: #e21e32 !important;
  color: white !important;
}
