<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Utilisateurs</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Utilisateurs</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-">
      <div class="col-sm-6">
        <h1></h1>
      </div>
      <div class="col-sm-6">
        <div class="input-group input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Recherche..."
            [(ngModel)]="search"
            [ngModelOptions]="{ standalone: true }"
            (keyup)="getAllUsers()"
          />
          <span class="input-group-append">
            <button type="button" class="btn btn-info btn-flat">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="card card-solid">
    <div class="card-body pb-0">
      <div class="row">
        <div
          class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
          *ngFor="let item of users"
        >
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              {{ item.role | titlecase }}
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead">
                    <b>{{ item.prenom }} {{ item.nom }}</b>
                  </h2>
                  <!-- <p class="text-muted text-sm">
                    <b>About: </b> Web Designer / UX / Graphic Artist / Coffee
                    Lover
                  </p> -->
                  <ul class="ml-4 mt-2 mb-0 fa-ul text-muted">
                    <li class="small mb-2">
                      <span class="fa-li"
                        ><i class="fas fa-lg fa-building"></i
                      ></span>
                      Address: {{ item.adresse }}
                    </li>
                    <li class="small">
                      <span class="fa-li"
                        ><i class="fas fa-lg fa-phone"></i
                      ></span>
                      Phone #: (+237) {{ item.numero }}
                    </li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img
                    [src]="
                      item.imageURL === ''
                        ? 'assets/dist/img/user1-128x128.jpg'
                        : server + '/' + item.imageURL
                    "
                    alt="user-avatar"
                    class="img-circle img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <!-- <a href="#" class="btn btn-sm bg-teal">
                  <i class="fas fa-comments"></i>
                </a> -->
                <a
                  href="#"
                  class="btn btn-sm btn-primary"
                  [routerLink]="item._id"
                >
                  <i class="fas fa-user"></i> Voir le Profil
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
